{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3APP</title>
    {% bootstrap_css %}
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="{% static 'js/chart.js' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">d3app</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'd3app:chart' %}">Kontrolki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'd3app:chart' %}">Wykres</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="main">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>